@model BeYourMarket.Web.Models.NavigationSideModel
@using BeYourMarket.Model.Enum
@{
  Layout = null;
}

@helper DisplayTree(IEnumerable<BeYourMarket.Web.Extensions.TreeItem<BeYourMarket.Model.Models.Category>> categories, bool child = false)
{
  if (child)
  {
    var first = categories.FirstOrDefault();
    <ul class="nav navbar-inverse collapse" id="subMenu_@first.Item.Parent" role="menu" >
      @foreach (var item in categories)
      {
        <li data-category="@item.Item.ID" class="list-unstyled">
          <a href="@Url.Action("Search", "Home", new { CategoryID = item.Item.ID })">
            <span class="text-info">@item.Item.Name</span>
          </a>
        </li>
      }
    </ul>
  }
  else
  {
    foreach (var item in categories)
    {  
      if (item.Children.Count() > 0)
      {
        <li>
          <a href="#" data-target="#subMenu_@item.Item.ID" data-toggle="collapse" aria-expanded="false">
            <span>@item.Item.Name</span>
            <i class="mdi-navigation-expand-more pull-right"></i>
          </a>

          @DisplayTree(item.Children, true)
        </li>
    }
    else
    {
      <li data-category="@item.Item.ID">
        <a href="@Url.Action("Search", "Home", new { CategoryID = item.Item.ID })">
          <span>@item.Item.Name</span>
        </a>

        @DisplayTree(item.Children, false)
      </li>
      }
    }
  }
}
<section class="sidebar">
  <form method="get" action="@Url.Action("Search", "Home")" class="user-panel form-rounded hidden-lg hidden-md">
    <div class="input-group">
      <input type="text" id="SearchText" name="SearchText" class="form-control input-sm" placeholder="@CacheHelper.Settings.SearchPlaceHolder" />
      <span class="input-group-btn">
        <button type="submit" name="search" class="btn btn-sm btn-flat"><i class="mdi-action-search "></i></button>
      </span>
    </div>
  </form>
  <ul class="sidebar-menu">
    @if (!User.Identity.IsAuthenticated)
    {
      <li class="hidden-lg hidden-md">
        <a href="@Url.Action("Login", "Account")">
          <span>[[[Log in]]]</span>
        </a>
      </li>
      <li class="hidden-lg hidden-md">
        <a href="@Url.Action("Register", "Account")">
          <span>[[[Create an account]]]</span>
        </a>
      </li>
      <li class="hidden-lg hidden-md">
        <a href="@Url.Action("ListingUpdate", "Listing")">
          <span>[[[Publish new listing]]]</span>
        </a>
      </li>
    }
    else
    {
      <li class="">
        <a href="@Url.Action("Dashboard", "Manage", new { Area = "" })">
          <i class="fa fa-dashboard"></i> <span>[[[Dashboard]]]</span>
        </a>
      </li>

      <li class="hidden-lg hidden-md">
        <a href="@Url.Action("ListingUpdate", "Listing")">
          <span>[[[Publish new listing]]]</span>
        </a>
      </li>

      if (User.IsInRole(Enum_UserRole.Administrator.ToString()))
      {
        <li>
          <a target="_blank" href="@Url.Action("Index", "Manage", new {Area ="Admin" })">
            <i class="fa fa-desktop"></i> <span>[[[Admin Panel]]]</span>
          </a>
        </li>
      }
    }

    <li class="divider"><i class="fa fa-th-list"></i> [[[Categories]]]</li>

     <li data-category="0">
      <a href="@Url.Action("Search", "Home")">
        <span>[[[All Categories]]]</span>
      </a>

      @DisplayTree(Model.CategoryTree)
    </li>

    <li class="divider"></li>
    @foreach (var contentPage in Model.ContentPages)
    {
      <li class="@(Html.IsActiveMenuItem("ContentPage", "Home", contentPage.Slug) ? "active" : "")">
        <a href="@Url.Action("ContentPage", "Home", new { id = contentPage.Slug })"><i class="fa fa-file"></i> @contentPage.Title</a>
      </li>
    }

    <li class="@(Html.IsActiveMenuItem("Contact","Home") ? "active" : "")">
      <a href="@Url.Action("Contact", "Home")"><i class="fa fa-envelope"></i> [[[Contact us]]]</a>
    </li>

    <li>
      <footer class="copyright">
        &copy; @DateTime.Now.Year - <a href="http://beyourmarket.com">BeYourMarket.com</a>
      </footer>
    </li>
  </ul>
</section>

<script>
  $(function(){
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    };

    var id = getUrlParameter('CategoryID');
    if (!(id === undefined)) {
      $("ul").find("[data-category='" + id + "']").addClass("active");
      $("ul").find("[data-category='" + id + "']").closest("ul").removeClass("collapse");
    }
  })
</script>
